*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

:root
{
    --header-color: #343434;
    --main-color: #7fffff;
    --aside-color: #7fff77;
    --hover:#fa5e;
    --active:#d44;

}

.container-layaout
{
    display: flex;
    flex-direction: column;
    width: 100wh;
    height: 100vh;
    
}

.header-cards
{
    background-color: var(--header-color);
    width:100vw;
    height: 5%;
    display: flex;
       
}


.nav-cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

picture
{
    flex-basis: 5%;
    height: 100%;
    background-color: #efefef;
    align-self: center;
    display: flex;
}


 .nav-cards picture img
{
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    
    
}


.header-cards__ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-basis: 90%;
    color:#ededed;
    font-size: 1.2rem;
    
    
    
}


.header-cards li:hover 
{
    color: var(--hover);
    
}

.header-cards li:active
{
    color: var(--active);
    
}

.main-cards
{
    background-color: var(--main-color);
    width:100%;
    height: 45%;
    display: flex;
    justify-content: center;
}


.main-cards picture 
{
    /* border: #d44 solid 1rem; */
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width:50%;
}

.main-cards picture img
{
    border-radius: 100%;
    width: 100%;
}
.aside-cards
{
    background-color:var(--aside-color);
    width:100%;
    height: 45%;
}

.footer-cards
{
    background-color: var(--header-color);
    width:100%;
    height: 5%;
}